<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js" type="text/javascript"></script>
<script src="app.js" type="text/javascript"></script>
<script src="controller.js" type="text/javascript"></script>
<script src="service.js"></script>

<link rel="icon" href="images/Favicon.png" type="image/x-icon"/>
<link rel="shortcut icon" href="Favicon.png" type="image/x-icon"/>

<link rel="stylesheet" type="text/css" href="css.css">

<title>GIT v1.0</title>
</head>
<body ng-app="myapp" ng-controller="ctrl as vm" >
<div class="main">
<!--        {{vm.data}}-->
  
    

    
    
   <button class="btn btn-primary" ng-click="vm.getPod(username)">Prikazi sliku korisnika</button> 
    Username: <input ng-model="username" class="color"><br>
     
      <br>
    <br>
    <br>
    <br>
    
      Avatar korisnika:<strong class="upper"> {{vm.data.login}}</strong><br>
       <img ng-src="{{vm.data.avatar_url}}">
      

 <span ng-click="vm.getPodPratioci(username)">Klikni za prikaz pratilaca korisnika {{vm.data.login}} :
 <span ng-repeat="x in vm.podaci">
      {{x.login}} 
<!--      <span ng-repeat="xm in x.login">{{x}}</span>-->
     </span>
    </span>
     
      
      

<!--
<tr ng-repeat="x in {{vm.podaci}}">
     <td>{{x.login}}</td> 
  </tr>
-->
   

   

    
    
    
    
    
    
</div>
</body>
</html>